.signature {
    display: grid;
    justify-self: start;
    align-self: center;
}

.contacts_title {
    display: grid;
    justify-self: start;
    align-self: end;
}

.socials_seaction ul {
    line-height: 3vh;
    list-style-type: none;
}

.socials a {
    font-size: 2em;
}

.text_email p1 {
    font-size: 2em;
}

.text_email {
    display: grid;
    justify-self: start;
    align-self: end;
}

.text_email a:hover {
    animation: fadeIn;
    animation-duration: 2s;
}

.socials a:hover {
    animation: fadeIn;
    animation-duration: 2s;
}

.socials_seaction {
    display: grid;
    justify-self: start;
    align-self: end;
    padding-bottom: 4vh;
}

.scroll_indicator {
    display: grid;
    justify-self: end;
    align-self: center;
}


@media screen and (max-width: 1100px) {

    .scroll_indicator {
       display: none;
    }
}

@media screen and (max-width: 575px) {

    .text_email {
        align-self: center;
    }

}
