.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "sign_header menu_header"
        "signature socials_seaction scroll_indicator"
        "contacts_title text_email"
        "contacts_title cirkle_indicator timeline";
    height: 100vh;
}

body {
    margin: 0 auto;
}

.sign_header {
    grid-column: 2;
    grid-row: 2;
    grid-area: sign_header menu_header;

}

.menu_header {
    grid-column: -2/-5;
    grid-row: 2;
    grid-area: sign_header menu_header;
}

.signature {
    grid-column: 4/8;
    grid-area: signature socials_seaction scroll_indicator;
    grid-row: 5/6;
    z-index: 1;
}

.contacts_title {
    grid-column: 4/6;
    grid-area: about_title text_about;
    grid-row: 6/7;
}

.socials_seaction {
    grid-area: signature socials_seaction scroll_indicator;
    grid-column: -6/-3;
    grid-row: 3/6;
}

.scroll_indicator {
    grid-area: signature socials_seaction scroll_indicator;
    grid-column: -2/-5;
    grid-row: 5/5;
}

.text_email {
    grid-column: -6/-3;
    grid-area: about_title text_about;
    grid-row: 6/7;
}

.cirkle_indicator {
    grid-area: cirkle_indicator timeline;
    grid-column: 2;
    grid-row: -3;
}



@media screen and (max-width: 855px) {

    .contacts_title {
        grid-column: 3/-2;
    }

    .signature {
        grid-column: 3/-2;
    }

    .explanation_text {
        grid-column: 6/-2;
        grid-row: 2/5;
    }

    .text_about {
        grid-column: 6/-3;
        grid-row: 5/7;
    }

}

@media screen and (max-width: 786px) {

    .signature {
        grid-column: 2/-2;
    }

    .contacts_title {
        grid-column: 2/-2;
    }

    .text_about {
        grid-column: 6/-2;
        grid-row: 5/7;
    }

    .explanation_text {
        grid-column: 6/-2;
        grid-row: 2/5;
    }

}

@media screen and (max-width: 575px) {

    .signature {
        grid-column: 2/-2;
        grid-row: 3/4;
    }

    .contacts_title {
        grid-column: 2/-2;
        grid-row: 4/5;
    }

    .text_email {
        grid-column: 2/-2;
        grid-row: 6/7;

    }

    .socials_seaction {
        grid-column: 2/-2;
        grid-row: 7/8;
    }

}
