header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "sign_header menu_line";
    width: 100vw;
    height: calc(100vh - 78vh);
}

body {
    margin: 0 auto;
}

.sign_header {
    grid-column: 2;
    grid-row: 2;
    grid-area: sign_header menu_line;

}

.menu_line {
    grid-column: -4/-2;
    grid-row: 2/5;
    grid-area: sign_header menu_line;
}



.seaction_1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-areas: "sign_header menu_line"
        "cirkle_indicator timeline";
    width: 100wh;
}

body {
    margin: 0 auto;
}

.image_1 {
    grid-column: 1/-1;
    z-index: 2;
}


.drag {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
}

.swiper-container {
    grid-column: 1/-1;
}


.grid_1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    width: 100%;
}

.image_2 {
    grid-column: 4/-4;
    z-index: 2;
}

.image_3 {
    grid-column: 3/-3;
    z-index: 2;
}



.seaction_3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    width: 100%;
}

.image_3 {
    grid-column: 3/-3;
    z-index: 2;
}




.seaction_2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    z-index: 2;
}

.year {
    grid-column: 4/-3;
    grid-area: year year;
    grid-row: 2/3;
}

.ld_title {
    grid-column: 4/7;
    grid-row: 4/4;
}

.additional_text {
    grid-column: 4/7;
    grid-row: 5/6;
}

.about_project {
    grid-column: 4/-3;
    grid-row: 6/7;
}

.project_text {
    grid-column: 6/-4;
    grid-row: 6/7;
}



.seaction_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    z-index: 2;
}

.scroll_line {
    grid-column: -2/-4;
    grid-row: 4;
}

.next_title {
    grid-column: 2/-2;
    grid-row: 4/5;
}

.next {
    grid-column: 4/6;
    grid-row: 3/4;
}
