.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "sign_header menu_header"
        "number_works number_works"
        "signature name_work additional_text photo_work"
        "cirkle_indicator timeline";
    height: 100vh;
    z-index: 2;
}

body {
    margin: 0 auto;
}

.sign_header {
    grid-column: 2;
    grid-row: 2;
    grid-area: sign_header menu_header;

}

.menu_header {
    grid-column: -2/-5;
    grid-row: 2;
    grid-area: sign_header menu_header;
}

.number_works {
    grid-column: 4;
    grid-area: number_works number_works;
    grid-row: 3/4;
    
}

.signature_works {
    grid-column: 4/7;
    grid-area: signature name_work additional_text photo_work;
    grid-row: 5/6;
    z-index: 1;
    z-index: 3;
}

.name_work {
    grid-column: 4/9;
    grid-area: signature name_work additional_text photo_work;
    grid-row: 6/6;
    z-index: 1;
    z-index: 3;
}

.additional_text {
    grid-area: signature name_work additional_text photo_work;
    grid-column: 4/9;
    grid-row: 7;
    z-index: 1;
    padding-top: 2px;
    z-index: 3;
}

.photo_work {
    grid-area: signature name_work additional_text photo_work;
    grid-column: 4/-4;
    grid-row: 4/-3;
    z-index: 0;
}

.cirkle_indicator {
    grid-area: cirkle_indicator timeline;
    grid-column: 2;
    grid-row: -3;
}

.timeline {
    grid-area: cirkle_indicator timeline;
    grid-column: -2/-5;
    grid-row: -3;
}

@media screen and (max-width: 950px) {

    .signature {
        grid-column: 4/8;
        grid-area: signature name_work additional_text photo_work;
        grid-row: 5/6;
        z-index: 1;
    }

    .photo_work {
        grid-area: signature name_work additional_text photo_work;
        grid-column: 3/-4;
        z-index: 0;
    }

}

@media screen and (max-width: 950px) {

    .signature_works {
        grid-column: 4/8;
        grid-area: signature name_work additional_text photo_work;
        grid-row: 5/6;
        z-index: 1;
    }

    .photo_work {
        grid-area: signature name_work additional_text photo_work;
        grid-column: 3/-4;
        z-index: 0;
    }

    .name_work {
        grid-column: 4/9;
        grid-area: signature name_work additional_text photo_work;
        grid-row: 6/6;
        z-index: 1;
    }

}


@media screen and (max-width: 950px) {

    .photo_work {
        grid-area: signature name_work additional_text photo_work;
        grid-column: 2/-2;
        z-index: 0;
    }

}

@media screen and (max-width: 575px) {

    .number_works {
        grid-column: 2/-2;
    }
    
    .signature_works {
        grid-column: 2/-2;
    }

    .name_work{
        grid-column: 2/-2;
    }
    
   .text_about {
        grid-column: 2/-2;
        grid-row: 5/7;
    }
    
    .additional_text {
        grid-column: 2/-2;
    }
    
    .photo_work {
        grid-area: signature name_work additional_text photo_work;
        grid-column: 2/-2;
        z-index: 0;
    }


}

