header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "sign_header menu_line";
    width: 100vw;
    height: calc(100vh - 78vh);
}

body {
    margin: 0 auto;
}

.sign_header {
    grid-column: 2;
    grid-row: 2;
    grid-area: sign_header menu_line;

}

.menu_line {
    grid-column: -4/-2;
    grid-row: 2/5;
    grid-area: sign_header menu_line;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(9, 1fr);
    height: 100vh;
}

body {
    margin: 0 auto;
}

.menu_line {
    grid-column: -3/-2;
    grid-row: 2;
    grid-area: sign_header menu_line;
}

.sign_header {
    grid-column: 2;
    grid-row: 2;
    grid-area: sign_header menu_header;

}

.menu_header {
    grid-column: -2/-5;
    grid-row: 2;
    grid-area: sign_header menu_header;
}

.signature_1 {
    grid-column: 4/6;
    grid-area: signature explanation_text;
    grid-row: 4/5;
    z-index: 1;
}

.logo_seaction {
    grid-column: 4/7;
    grid-area: about_title text_about;
    grid-row: 5/5;
}

.signature_2 {
    grid-column: 4/6;
    grid-area: signature explanation_text;
    grid-row: 7/8;
    z-index: 1;
}

.text_about {
    grid-column: 6/-4;
    grid-area: about_title text_about;
    grid-row: 7/8;
}

.cirkle_indicator {
    grid-area: cirkle_indicator timeline;
    grid-column: 2;
    grid-row: -3;
}



.grid_3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(11, 1fr);
    width: 100%;
}

.signature_3 {
    grid-column: 4/6;
    grid-area: signature explanation_text;
    grid-row: 5/6;
    z-index: 1;
}

.text_team {
    grid-column: 6/-4;
    grid-area: about_title text_about;
    grid-row: 5/8;
}



.grid_2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(1, 1fr);
}

body {
    margin: 0 auto;
}

.photo_1 {
    grid-column: 4/-4;
    grid-row: 1;
    grid-area: photo_1 photo_1;
    z-index: 2;
}




.grid_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: "photo_sofia photo_sasha photo_khrystyna";
    height: 50vh;
}

.photo_sofia {
    grid-column: 3/5;
    grid-row: 3/4;
    grid-area: photo_sofia photo_sasha photo_khrystyna;
}

.photo_sasha {
    grid-column: 6/8;
    grid-row: 3/4;
    grid-area: photo_sofia photo_sasha photo_khrystyna;
}

.photo_khrystyna {
    grid-column: -5/-3;
    grid-row: 3/4;
    grid-area: photo_sofia photo_sasha photo_khrystyna;
}

.sofia_text {
    grid-column: 3/5;
    grid-row: 7/8;
}

.sasha_text {
    grid-column: 6/8;
    grid-row: 7/8
}

.khrystyna_text {
    grid-column: -5/-3;
    grid-row: 7/8
}

.aditional_text_s {
    grid-column: 3/5;
    grid-row: 8/9;
}

.aditional_text_o {
    grid-column: 6/8;
    grid-row: 8/9;
}

.aditional_text_k {
    grid-column: -5/-3;
    grid-row: 8/9;
}




.seaction_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    z-index: 2;
}

.scroll_line {
    grid-column: -2/-4;
    grid-row: 3/5;
}

.next_title {
    grid-column: 2/-2;
    grid-row: 3/5;
}

.next {
    grid-column: 4/6;
    grid-row: 3/4;
}


@media screen and (max-width: 1000px) {

    .grid_3 {
        height: 80vh;
    }

    .seaction_4 {
        height: 80vh;
    }

}

@media screen and (max-width: 720px) {

    .photo_1 {
        grid-column: 2/-2;
    }

    .grid_3 {
        height: 80vh;
    }

    .seaction_4 {
        height: 80vh;
    }

    .text_about {
        grid-column: 4/-4;
        grid-row: 8/9;
    }

    .logo_seaction {
        grid-column: 4/9;
    }

    .text_team {
        grid-column: 4/-4;
        grid-area: about_title text_about;
        grid-row: 5/9;
    }

    .signature_3 {
        grid-column: 4/6;
        grid-area: signature explanation_text;
        grid-row: 4/5;
        z-index: 1;
    }
    
}

@media screen and (max-width: 710px) {

    .signature_1 {
        grid-column: 4/-4;
    }

    .signature_2 {
        grid-column: 4/-4;
    }

    .signature_3 {
        grid-column: 4/-4;
    }

    .grid_4 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 30px;
        grid-template-rows: repeat(40, 1fr);
        grid-template-areas: "photo_sofia photo_sasha photo_khrystyna";
        height: 200vh;
    }

    .photo_sofia {
        grid-column: 4/-4;
        grid-row: 3;
    }

    .photo_sasha {
        grid-column: 4/-4;
        grid-row: 8;
    }

    .photo_khrystyna {
        grid-column: 4/-4;
        grid-row: 13;
    }

    .sofia_text {
        grid-column: 4/-4;
        grid-row: 5;
    }

    .sasha_text {
        grid-column: 4/-4;
        grid-row: 9;
    }

    .khrystyna_text {
        grid-column: 4/-4;
        grid-row: 14;
    }

    .aditional_text_s {
        grid-column: 4/-4;
        grid-row: 6;
    }

    .aditional_text_o {
        grid-column: 4/-4;
        grid-row: 12;
    }

    .aditional_text_k {
        grid-column: 4/-4;
        grid-row: 16;
    }


    .next_title {
        grid-column: 2/-2;
        grid-row: 4/6;
    }



}

@media screen and (max-width: 710px) {

    .signature_1 {
        grid-column: 4/-4;
    }

    .signature_2 {
        grid-column: 4/-4;
    }

    .signature_3 {
        grid-column: 4/-4;
    }

    .seaction_4 {
        display: grid;
        height: 50vh;
        z-index: 2;
    }

    .next_title {
        grid-column: 2/-2;
        grid-row: 1/2;
    }

    .grid_3 {
        height: 100vh;
    }

}
