.list_site {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5vh;
    text-align: right;
}

.list_site h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 8em;
    line-height: 5vw;
    text-transform: uppercase;
}

.list_site h1:hover {
    font-size: 9em;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-family: Silk_Serif;
    font-style: italic;
    animation: fadeIn;
    animation-duration: 3s;
}

.socials_seaction ul {
    line-height: 3vh;
    list-style-type: none;
}

.socials a {
    font-size: 2em;
}

.text_email a:hover {
    animation: fadeIn;
    animation-duration: 2s;
}

.socials a:hover {
    animation: fadeIn;
    animation-duration: 2s;
}

.text_email p1 {
    font-size: 2em;
}

.text_email {
    display: grid;
    justify-self: start;
    align-self: end;
}

.socials_seaction {
    display: grid;
    justify-self: start;
    align-self: end;
    padding-bottom: 4vh;
}


.line_1 {
    align-self: center;
    justify-self: center;
}

.socials_group {
    display: grid;
    align-self: end;
    padding-bottom: 0;
    margin-left: 1.6vw;
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: .4;
    z-index: 1;
}

cursor-wrap {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.cursor {
    position: fixed;
    top: -30px;
    left: -30px;
    pointer-events: none;
}

.circle {
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}

.menu_line .cerchio {
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
    transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1200px) {

    .socials_seaction {
        display: none;
    }

    .text_email {
        display: none;
    }

    .list_site {

        justify-self: center;
        text-align: center;
    }


}

@media screen and (max-width: 735px) {

    .list_site h1{
        font-size: 6em;
    }

}

@media screen and (max-width: 550px) {

    .list_site h1{
        font-size: 4em;
        line-height: 2vw;
    }

}
