.scroll_indicator {
    display: grid;
    justify-self: end;
    align-self: end;
}

.scroll_indicator p {
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 0;
    line-height: 1vh;
}

.servises_seaction {
    display: grid;
    justify-self: center;
    align-self: end;
    padding-bottom: 2vh;
}

.servises_seaction p {
    /*    font-size: 5vw;*/
    font-size: 80px;
    line-height: 80px;
    /*    line-height: 5vw;*/
    text-transform: uppercase;
}

.and {
    font-size: 5vw;
    line-height: 5vw;
    text-transform: uppercase;
    align-self: end;
    justify-self: end;
    margin-bottom: 0.3vw;
    margin-left: 1vw;
}

.servises_seaction u:hover {
    font-size: 80px;
    line-height: 80px;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    text-decoration: none;
    animation: fadeIn;
    animation-duration: 3s;
    transition: fill 0.4s;
    cursor: url(images/packaging.png), auto;
}

.scroll_line {
    display: grid;
    justify-self: end;
    align-self: center;
}

images/curso.png .scroll_line {
    display: grid;
    justify-self: end;
    align-self: end;
    left: 0;
}

@keyframes loader {
    0% {
        -webkit-transform: scale3d(0, 1, 1) translate3d(0, 0, 0);
        transform: scale3d(0, 1, 1) translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1) translate3d(100%, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(100%, 0, 0);
    }
}

.scroll_line .css-loader-line {
    display: block;
    width: 100px;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0, 1);
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0, 1);
    height: 1px;
}

.scroll_line .css-loader-line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    transform: scale3d(0, 1, 1) translate3d(0, 0, 0);
    animation: loader 2s cubic-bezier(0.4, 0, 0, 1) infinite;
    transform-origin: left center;
}

@media screen and (max-width: 1180px) {

    .servises_seaction p {
        font-size: 70px;
        line-height: 70px;
    }

    .servises_seaction u:hover {
        font-size: 80px;
        line-height: 65px;
    }


    .servises_seaction {
        margin-bottom: 3vw;
    }

    .scroll_line {
        display: none;
    }

}

@media screen and (max-width: 1035px) {

    .servises_seaction p {
        font-size: 65px;
        line-height: 65px;
        text-transform: uppercase;
    }

    .servises_seaction u:hover {
        font-size: 75px;
        line-height: 60px;
    }

    .servises_seaction {
        display: grid;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 992px) {

    .servises_seaction p {
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }

    .servises_seaction u:hover {
        font-size: 70px;
        line-height: 55px;
    }

}

@media screen and (max-width: 575px) {

    .servises_seaction p {
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
    }

    .servises_seaction u:hover {
        font-size: 55px;
        line-height: 45px;
    }

    .number_indicator {
        display: none;
    }

}

@media screen and (max-width: 603px) {

    .servises_seaction p {
        font-size: 55px;
        line-height: 55px;
        text-transform: uppercase;
    }

}

@media screen and (max-width: 554px) {

    .servises_seaction p {
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
    }

}

@media screen and (max-width: 504px) {

    .servises_seaction p {
        font-size: 45px;
        line-height: 45px;
        text-transform: uppercase;
    }

}

@media screen and (max-width: 504px) {

    .servises_seaction p {
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
    }

}