.number_works {
    display: grid;
    justify-self: start;
    align-self: center;
}

.signature_works {
    display: grid;
    justify-self: start;
    align-self: center;
}

.name_work {
    display: grid;
    justify-self: start;
    align-self: end;
}

.photo_work {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    justify-self: end;
}

.photo_work img {
    /*    max-width: 88%;*/
    width: 670px;
    height: auto;
    display: grid;
    justify-self: end;
    filter: grayscale(100%);
    filter: brightness(40%);
    transition: 0.5s;
}

.photo_work img:hover {
    filter: none;
    transition: 0.5s;
    transform: scale(0.98);
}




@media screen and (max-width: 950px) {

    .photo_work {
        max-width: 100%;
        max-height: 100%;
        display: grid;
        justify-self: center;
    }

    .photo_work img {
        max-width: 100%;
        height: auto;

    }

}

@media screen and (max-width: 575px) {

    .photo_work img {
        max-width: 100%;
    }

}
